.top-to-center {
  -webkit-animation: topToCenter .6s ease-in-out both;
  animation: topToCenter .6s ease-in-out both;
}

.bottom-to-center {
  -webkit-animation: bottomToCenter .6s ease-in-out both;
  animation: bottomToCenter .6s ease-in-out both;
}

.left-to-center {
  -webkit-animation: leftToCenter .6s ease-in-out both;
  animation: leftToCenter .6s ease-in-out both;
}

.right-to-center {
  -webkit-animation: rightToCenter .6s ease-in-out both;
  animation: rightToCenter .6s ease-in-out both;
}

@-webkit-keyframes topToCenter {
  from {
    opacity: 0;
    top: 100%;
  }

  to {
    opacity: 1;
    top: 0%;
  }
}

@keyframes topToCenter {
  from {
    opacity: 0;
    top: 100%;
  }

  to {
    opacity: 1;
    top: 0%;
  }
}

@-webkit-keyframes bottomToCenter {
  from {
    opacity: 0;
    top: -100%;
  }

  to {
    opacity: 1;
    top: 0%;
  }
}

@keyframes bottomToCenter {
  from {
    opacity: 0;
    top: -100%;
  }

  to {
    opacity: 1;
    top: 0%;
  }
}

@-webkit-keyframes leftToCenter {
  from {
    opacity: 0;
    left: -100%;
  }

  to {
    opacity: 1;
    left: 0%;
  }
}

@keyframes leftToCenter {
  from {
    opacity: 0;
    left: -100%;
  }

  to {
    opacity: 1;
    left: 0%;
  }
}

@-webkit-keyframes rightToCenter {
  from {
    opacity: 0;
    left: 100%;
  }

  to {
    opacity: 1;
    left: 0%;
  }
}

@keyframes rightToCenter {
  from {
    opacity: 0;
    left: 100%;
  }

  to {
    opacity: 1;
    left: 0%;
  }
}

.center-to-top {
  -webkit-animation: centerTopTop .6s ease-in-out both;
  animation: centerTopTop .6s ease-in-out both;
}

.center-to-bottom {
  -webkit-animation: centerToBottom .6s ease-in-out both;
  animation: centerToBottom .6s ease-in-out both;
}

.center-to-left {
  -webkit-animation: centerToLeft .6s ease-in-out both;
  animation: centerToLeft .6s ease-in-out both;
}

.center-to-right {
  -webkit-animation: centerToRight .6s ease-in-out both;
  animation: centerToRight .6s ease-in-out both;
}

@-webkit-keyframes centerTopTop {
  from {
    top: 0%;
  }

  to {
    opacity: 0;
    top: -100%;
  }
}

@keyframes centerTopTop {
  from {
    top: 0%;
  }

  to {
    opacity: 0;
    top: -100%;
  }
}

@-webkit-keyframes centerToBottom {
  from {
    top: 0%;
  }

  to {
    opacity: 0;
    top: 100%;
  }
}

@keyframes centerToBottom {
  from {
    top: 0%;
  }

  to {
    opacity: 0;
    top: 100%;
  }
}

@-webkit-keyframes centerToLeft {
  from {
    left: 0%;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

@keyframes centerToLeft {
  from {
    left: 0%;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

@-webkit-keyframes centerToRight {
  from {
    left: 0%;
  }

  to {
    opacity: 0;
    left: -100%;
  }
}

@keyframes centerToRight {
  from {
    left: 0%;
  }

  to {
    opacity: 0;
    left: -100%;
  }
}

.portfolio__container {
  margin-bottom: 50px;
}

.screen__container {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 250px;
  border-radius: 15px;
}

.screen__handle {
  pointer-events: none;
  position: absolute;
  height: 100%;
  background-color: #FDAB00;
  width: 5px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 20;
}

.layer {
  pointer-events: none;
}

.layer__container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  overflow: hidden;
}

.layer__container-top {
  left: 0;
}

.layer__container-bottom {
  right: 0;
}

.layer__body {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 780px;
}

.layer__body-top {
  z-index: 5;
}

.layer__body-bottom {
  right: 0;
  background: -o-linear-gradient(45deg, #1b7242 0%, #198b6d 100%);
  background: linear-gradient(45deg, #1b7242 0%, #198b6d 100%);
}

.layer__body img {
  position: absolute;
  max-width: 20%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.layer__text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 40%;
}

.layer__text-top {
  left: 0;
}

.layer__text-top h5 {
  color: #1b7242;
}

.layer__text-bottom {
  right: 0;
}

.layer__text-bottom h5 {
  color: #FDAB00;
}

.layer__text h5 {
  font-size: 1.3rem;
}

.todo__container,
.todo__form,
.todo__items,
.todo__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.todo__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 65%;
  margin: auto;
}

.todo__form-box,
.todo__form {
  width: 100%;
}

.todo__form {
  margin-bottom: 5px;
}

.todo__input,
.todo__button,
.todo__button-trash,
.todo__button-complete,
.todo__item {
  display: block;
  padding: .6rem;
  font-size: 1.2rem;
  border: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #f5f5f5;
  border-radius: 0;
}

.todo__input {
  width: 100%;
  border-radius: 3px 0 0 3px;
}

.todo__button {
  cursor: pointer;
  color: #1b7242;
  border-radius: 0 3px 3px 0;
}

.todo__button:hover {
  color: #f5f5f5;
  background-color: #1b7242;
}

.todo__box-list {
  width: 100%;
}

.todo__items {
  background-color: #f5f5f5;
  margin-bottom: 5px;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.todo__items-comleted {
  opacity: .6;
  text-decoration: line-through;
  color: #222222;
}

.todo__items-fall {
  opacity: 0;
  -webkit-transform: translateY(8rem) rotateZ(20deg);
  -ms-transform: translateY(8rem) rotate(20deg);
  transform: translateY(8rem) rotateZ(20deg);
}

.todo__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 1rem;
  color: #222222;
  font-size: 1rem;
  padding: .4rem;
}

.todo__button-trash,
.todo__button-complete {
  color: #f5f5f5;
  font-size: .8rem;
  cursor: pointer;
}

.todo__button-complete {
  background-color: #198b6d;
}

.todo__button-complete:hover {
  background-color: #1b7242;
}

.todo__button-trash {
  background-color: #ff6f47;
}

.todo__button-trash:hover {
  background-color: #bf4524;
}

.todo__select {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.todo__select::after {
  content: "\25BC";
  position: absolute;
  padding: 0 .2rem;
  color: #198b6d;
  top: 0;
  right: 0;
  pointer-events: none;
}

.todo__select:hover::after {
  color: #1b7242;
}

.todo__filter {
  background-color: #f5f5f5;
  font-family: inherit;
  font-weight: inherit;
  position: relative;
  padding: .2rem .3rem;
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  font-size: .8rem;
  margin-bottom: 15px;
  cursor: pointer;
}

.fas {
  pointer-events: none;
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-content.min {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact-content.min .divs-icon {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
}

.contact-content.min .divs-icon .div-icon {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.contact-content.min .div-title {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin: 0;
  padding: 0;
}

.divs-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 33.3333%;
  height: 100%;
  margin: 0 -15px;
  padding: 0 15px;
}

.div-icon {
  height: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  border: 2px solid #222222;
  -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  word-wrap: break-word;
  overflow: hidden;
  padding: 20px 5px;
  margin-bottom: 15px;
}

.div-icon i {
  display: block;
  font-size: 32px;
  margin-bottom: 10px;
  color: #198b6d;
}

.div-title {
  height: 100%;
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  margin: 0 15px;
  padding: 0 15px;
}

.div-title .map {
  height: 170px;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.25);
}

.gmnoprint,
.gm-style-cc {
  display: none;
}

.cf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
}

.cf .left-col,
.cf .right-col {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.cf .left-col {
  padding-right: 15px;
}

.contact-input,
.contact-text {
  display: block;
  width: 100%;
  outline: 0;
  margin-bottom: 23px;
  background: transparent;
  border: 2px solid #999;
  border-radius: 5px;
  padding: 12px 25px 12px 12px;
  color: #f5f5f5;
  line-height: 1.3em;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact-input:focus,
.contact-text:focus {
  border: 2px solid #198b6d;
}

.submit {
  display: inline-block;
  position: relative;
  padding: 0.8em 2.1em;
  margin-top: auto;
  margin-bottom: 0.75em;
  margin-right: 0.25em;
  font-size: 1em;
  line-height: 1.2;
  outline: 0;
  border: 2px solid #198b6d;
  color: #f5f5f5;
  text-shadow: none;
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.3);
}

.submit:hover {
  background-color: #198b6d;
}

*,
*::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

.bg-container {
  position: absolute;
  top: -25px;
  bottom: -25px;
  right: -25px;
  left: -25px;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9890e3), to(#b1f4cf));
  background-image: -o-linear-gradient(bottom, #9890e3 0%, #b1f4cf 100%);
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  z-index: -10;
}

.bg-container .bg-animated {
  width: 100%;
  height: 100%;
  background-image: url("../img/main_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* width */

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Track */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px transparent;
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
  margin: 0 0;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid #198b6d;
  -webkit-text-fill-color: #f5f5f5;
  -webkit-transition: background-color 5s ease-in-out 0s;
  transition: background-color 5s ease-in-out 0s;
}

h2 {
  font-size: 32px;
  color: #f5f5f5;
  margin-bottom: 25px;
  line-height: 1.2em;
}

h3 {
  font-size: 21px;
  margin-bottom: 25px;
}

h5 {
  font-size: 18px;
}

ul {
  font-size: 14px;
  list-style: none;
}

a {
  color: #d5d5d5;
  text-decoration: none;
}

p {
  font-size: 14px;
}

.main-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95vw;
  max-width: 1280px;
  height: 80vh;
  margin: 10vh auto;
}

.main-section .page-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: 50px;
  background: -o-linear-gradient(45deg, #1b7242 0%, #12d1e4 100%);
  background: linear-gradient(45deg, #1b7242 0%, #12d1e4 100%);
  border-radius: 35px;
  -webkit-box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);
}

.menu-nav {
  position: absolute;
  top: 0;
  right: -65px;
  width: 50px;
  height: 100%;
  text-align: center;
  margin-left: 15px;
}

.menu-nav .main-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: -o-linear-gradient(15deg, #1b7242 0%, #12d1e4 100%);
  background: linear-gradient(75deg, #1b7242 0%, #12d1e4 100%);
  border-radius: 35px;
  z-index: 10;
  font-size: 18px;
  text-align: center;
  -webkit-box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);
}

.menu-nav .main-menu a {
  position: relative;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  color: #f5f5f5;
  padding: 15px 0;
}

.menu-nav .main-menu a .link-text {
  position: absolute;
  width: auto;
  visibility: hidden;
  opacity: 0;
  color: #fff;
  font-size: 14px;
  padding: 2px 10px;
  background-color: #198b6d;
  border-radius: 4px;
  white-space: nowrap;
  top: 0;
  right: 0;
  -webkit-transform: translateY(75%);
  -ms-transform: translateY(75%);
  transform: translateY(75%);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 10;
  -webkit-box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.22);
}

.menu-nav .main-menu a:hover .link-text {
  right: 100%;
  visibility: visible;
  opacity: 1;
}

.header-section {
  width: 100%;
  height: 100%;
  max-width: 360px;
  overflow: auto;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.header-section .header-content {
  padding: 50px 10px;
  text-align: center;
  height: auto;
}

.header-section .header-content .header-photo img {
  display: block;
  width: 100%;
  max-width: 180px;
  margin: 0 auto 35px;
  border: 2px solid #f5f5f5;
  border-radius: 100%;
}

.header-section .header-content .header-title {
  color: #f5f5f5;
}

.header-section .header-content .header-title h2 {
  font-size: 36px;
  margin-bottom: 7px;
  font-weight: 600;
  line-height: 1.2;
}

.header-section .header-content .header-title h4 {
  font-size: 18px;
  font-weight: 400;
  color: #d5d5d5;
  margin-bottom: 30px;
  line-height: 1.2;
}

.header-section .header-content .social-links {
  margin-bottom: 50px;
}

.header-section .header-content .social-links ul {
  list-style: none;
}

.header-section .header-content .social-links ul li {
  display: inline-block;
}

.header-section .header-content .social-links ul li a {
  padding: 0 10px;
  color: #fff;
}

.header-section .header-content .header-button .download-btn {
  font-size: 14px;
  color: #f5f5f5;
  text-decoration: none;
  padding: 0.8em 2em;
  border: 2px solid #f5f5f5;
  border-radius: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.3);
}

.header-section .header-button .download-btn:hover {
  background-color: #fff;
  color: #1b7242;
  border-color: #fff;
}

.header-section .copyrights {
  color: #bbb;
  width: 100%;
  max-width: 360px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 10px 15px;
  line-height: 14px;
  font-size: 12px;
}

.page-content {
  position: relative;
  width: 100%;
}

.menu-toggle {
  display: none;
  position: absolute;
  top: 35px;
  right: 25px;
  background-color: #198b6d;
  height: 48px;
  width: 48px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 10;
}

.menu-toggle span {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.menu-toggle :nth-child(1) {
  top: 18px;
  -webkit-transform-origin: center left;
  -ms-transform-origin: center left;
  transform-origin: center left;
}

.menu-toggle :nth-child(2) {
  top: 24px;
}

.menu-toggle :nth-child(3) {
  top: 30px;
  -webkit-transform-origin: center right;
  -ms-transform-origin: center right;
  transform-origin: center right;
}

.my-color {
  color: #198b6d;
}

.cover-div {
  position: relative;
  height: 100%;
}

.cover-div .active-section {
  opacity: 1;
  visibility: visible;
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  color: #d5d5d5;
  padding: 50px 45px;
  background-color: #222222;
  visibility: hidden;
  opacity: 0;
  line-height: 1.5em;
  border-radius: 35px;
  overflow: auto;
  z-index: 5;
}

.home-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.home-section h2 {
  font-size: 60px;
  line-height: 60px;
  color: #f5f5f5;
  margin-bottom: 15px;
}

.home-section h4 {
  position: relative;
}

.home-section .dev {
  font-size: 20px;
  color: #aaaaaa;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: dropDown 6s ease-in-out infinite both;
  animation: dropDown 6s ease-in-out infinite both;
}

.home-section :nth-child(2) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes dropDown {
  0% {
    opacity: 0;
    top: -25px;
  }

  1% {
    opacity: 1;
    top: 0;
  }

  50% {
    opacity: 1;
    top: 0;
  }

  51% {
    opacity: 0;
    top: 25px;
  }

  100% {
    opacity: 0;
    top: 25px;
  }
}

@keyframes dropDown {
  0% {
    opacity: 0;
    top: -25px;
  }

  1% {
    opacity: 1;
    top: 0;
  }

  50% {
    opacity: 1;
    top: 0;
  }

  51% {
    opacity: 0;
    top: 25px;
  }

  100% {
    opacity: 0;
    top: 25px;
  }
}

.about-section .about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.about-section .about-title .info-text,
.about-section .about-title .info-list {
  padding: 0 20px 0 0;
  line-height: 1.5em;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  font-size: 14px;
}

.about-section .about-title .my-color {
  margin: 0 10px 0 0;
  font-weight: 600;
}

.about-section .what-i-do {
  margin-bottom: 50px;
}

.about-section .what-i-do .my-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 25px;
}

.about-section .what-i-do .my-work .work {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin-bottom: 25px;
}

.about-section .what-i-do .my-work .work i {
  color: #198b6d;
  font-size: 36px;
  margin-bottom: 15px;
}

.about-section .what-i-do .my-work .work h5 {
  margin-bottom: 5px;
}

.about-section .what-i-do .my-work .work p {
  color: #aaaaaa;
  font-size: 14px;
}

.about-section .testimonials {
  width: 100%;
  margin-bottom: 50px;
}

.about-section .testimonials .cover-testimonials {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.about-section .testimonials .cover-testimonials .testimonial-block {
  position: relative;
  border: 2px solid #444444;
  height: auto;
  padding: 70px 20px 25px;
  border-radius: 25px;
  margin-right: 15px;
}

.about-section .testimonials .cover-testimonials .testimonial-block img {
  position: absolute;
  width: 100%;
  max-width: 90px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.3);
}

.about-section .testimonials .cover-testimonials .testimonial-text {
  color: #d5d5d5;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5em;
  margin-bottom: 10px;
}

.about-section .testimonials .cover-testimonials .autor-info {
  position: relative;
  width: 100%;
}

.about-section .testimonials .cover-testimonials .autor-info .autor {
  font-weight: 600;
  color: #ffffff;
}

.about-section .testimonials .cover-testimonials .autor-info .company {
  color: #a5a6a7;
  font-size: 13px;
  font-weight: 300;
}

.about-section .testimonials .cover-testimonials .autor-info .fa-quote-right {
  position: absolute;
  font-size: 30px;
  color: #198b6d;
  opacity: 0.5;
  top: 0;
  right: 0;
}

.about-section .facts .cover-facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.about-section .facts .cover-facts .fact-block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  background: #333333;
  border: 2px solid #444444;
  width: 100%;
  height: auto;
  min-height: 100px;
  border-radius: 10px;
  padding: 20px 10px 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.about-section .facts i {
  color: #198b6d;
  font-size: 28px;
  margin-bottom: 20px;
}

.about-section .facts h6 {
  font-size: 16px;
  margin-bottom: 15px;
}

.about-section .facts .fact-blok-value {
  color: #aaa;
  font-size: 32px;
  line-height: 50px;
}

.resume-item,
.my-skills {
  margin-bottom: 50px;
}

.timeline-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  line-height: 1.5em;
}

.timeline-item .left-part {
  text-align: end;
  color: #a5a6a7;
  font-size: 12px;
  width: 100%;
  max-width: 100px;
}

.timeline-item .left-part h5 {
  font-size: 14px;
  color: #eeeeee;
}

.right-part {
  width: 100%;
  color: #d5d5d5;
  font-size: 14px;
}

.divider {
  position: relative;
  margin: 0 25px;
}

.divider .line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 33%;
  width: 1px;
  background: #444444;
  -webkit-transform: translateY(-1%);
  -ms-transform: translateY(-1%);
  transform: translateY(-1%);
}

.divider .line::before,
.divider .line::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  border-radius: 15px;
}

.divider .line::before {
  -webkit-transform: translate(-50%, 95%);
  -ms-transform: translate(-50%, 95%);
  transform: translate(-50%, 95%);
  width: 9px;
  height: 9px;
  background: #222222;
  border: 2px solid #198b6d;
  z-index: 1;
}

.divider .line::after {
  -webkit-transform: translate(-50%, 38%);
  -ms-transform: translate(-50%, 38%);
  transform: translate(-50%, 38%);
  width: 15px;
  height: 15px;
  background: #1b7242;
  opacity: 0.5;
}

.skill {
  margin-bottom: 15px;
}

.skill-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 5px;
}

.skill-title h4 {
  font-size: 14px;
  margin: 0;
  line-height: 1.2em;
}

.skill-title p.skill-value {
  font-size: 12px;
  color: #bbb;
  margin-left: auto;
  line-height: 1.2em;
}

.my-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-skills .skills,
.my-skills .knowledges {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin: 0 -10px;
  padding: 0 10px;
}

.my-skills .knowledges ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.my-skills .knowledges ul li {
  display: block;
  background-color: transparent;
  border-radius: 3px;
  color: transparent;
  padding: 5px 15px;
  margin: 3px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.my-skills .knowledges ul li.show {
  background-color: #198b6d;
  color: #fff;
}

.skill-container {
  position: relative;
  height: 10px;
  width: 100%;
  border: 1px #198b6d solid;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 2px #198b6d;
  box-shadow: 0 0 2px #198b6d;
  overflow: hidden;
}

.skill-container .percentage {
  height: 100%;
  background: #198b6d;
  border: 1px solid #222222;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.skill-container .percentage.show {
  width: 0;
}

.skill-container .skill-1 {
  width: 90%;
}

.skill-container .skill-2 {
  width: 95%;
}

.skill-container .skill-3 {
  width: 80%;
}

.skill-container .skill-4 {
  width: 70%;
}

.skill-container .skill-5 {
  width: 75%;
}

.responsibilities {
  margin-bottom: 15px;
}

.responsibilities li {
  list-style: inside;
}

.certificates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.certificates .col {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  min-width: 50%;
  padding: 0 15px;
  margin-bottom: 15px;
}

.certificates .col-5 {
  margin: auto;
}

.certificates.min {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
}

.certificates.min .col {
  width: 100%;
  padding: 0;
}

.certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  border: 2px solid #444444;
  border-radius: 10px;
}

.certificate .certificate-icon {
  position: relative;
  width: 100px;
  text-align: center;
}

.certificate .certificate-icon i {
  color: #198b6d;
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.certificate .certificate-title {
  width: 100%;
  padding: 15px 0;
}

.certificate .certificate-title h4 {
  color: #f5f5f5;
  font-size: 16px;
}

.certificate .certificate-title .firma {
  font-size: 0.8em;
  color: #777777;
}

.certificate .certificate-title .data {
  font-weight: 600;
  font-size: 12px;
  color: #198b6d;
  opacity: 0.7;
}

@-webkit-keyframes collision {
  100% {
    width: 300px;
    height: 300px;
  }
}

@keyframes collision {
  100% {
    width: 300px;
    height: 300px;
  }
}

@-webkit-keyframes free__button {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes free__button {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes waves {
  0% {
    -webkit-transform: translate(-50%, -96%) rotate(0deg);
    transform: translate(-50%, -96%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -96%) rotate(360deg);
    transform: translate(-50%, -96%) rotate(360deg);
  }
}

@keyframes waves {
  0% {
    -webkit-transform: translate(-50%, -96%) rotate(0deg);
    transform: translate(-50%, -96%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -96%) rotate(360deg);
    transform: translate(-50%, -96%) rotate(360deg);
  }
}

@media only screen and (max-width: 1280px) {
  .header-section {
    max-width: 330px;
  }

  .header-section .copyrights {
    max-width: 330px;
  }
}

@media only screen and (max-width: 1024px) {
  .menu-toggle {
    display: block;
    z-index: 50;
  }

  .menu-toggle span {
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
  }

  .menu-toggle.open :nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 16px;
    top: 14px;
  }

  .menu-toggle.open :nth-child(2) {
    opacity: 0;
    width: 0%;
  }

  .menu-toggle.open :nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 9px;
    top: 14px;
  }

  .bg-container {
    display: none;
  }

  .main-section {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }

  .main-section .page-section {
    margin: 0;
    border-radius: 0;
  }

  .header-section {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100%;
    background: -o-linear-gradient(15deg, #1b7242 0%, #12d1e4 100%);
    background: linear-gradient(75deg, #1b7242 0%, #12d1e4 100%);
    z-index: 20;
  }

  .header-section .header-content {
    padding: 30px 0 70px;
  }

  .header-section .header-content .header-title h2 {
    font-size: 28px;
  }

  .header-section .header-content .header-title h4 {
    font-size: 17px;
  }

  .header-section .header-content .header-photo img {
    max-width: 130px;
  }

  .header-section .header-content .copyrights {
    margin-top: 50px;
    position: relative;
    display: block;
    padding: 0;
  }

  .header-section.open {
    right: 0;
  }

  .content {
    border-radius: 0;
  }

  .menu-nav {
    position: relative;
    right: 0;
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
  }

  .menu-nav .main-menu {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .menu-nav .main-menu a {
    background: none;
    color: #fff;
    padding: 10px 0;
  }

  .menu-nav .main-menu a .nav-icon {
    display: none;
  }

  .menu-nav .main-menu a .link-text {
    position: relative;
    visibility: visible;
    font-size: 16px;
    line-height: 21px;
    opacity: 0.7;
    padding: 0;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .menu-nav .main-menu a:hover .link-text {
    right: 0;
  }

  .menu-nav .main-menu a.active .link-text {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  .content {
    padding: 45px 35px 70px;
  }

  .about-section .about-title,
  .about-section .what-i-do .my-work,
  .about-section .testimonials .cover-testimonials,
  .about-section .facts .cover-facts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-section .about-title .info-list,
  .about-section .info-text {
    padding: 0;
    margin-bottom: 15px;
    font-size: 14px;
  }

  .about-section .testimonials {
    margin: 0;
  }

  .about-section .testimonials .cover-testimonials .testimonial-block {
    margin: 0 0 50px 0;
  }

  .about-section .testimonials .cover-testimonials .testimonial-block .testimonial-text {
    font-size: 14px;
  }

  .about-section .testimonials .cover-testimonials .testimonial-block .autor {
    font-size: 15px;
  }

  .about-section .testimonials .cover-testimonials .testimonial-block .company {
    font-size: 13px;
  }

  .about-section .facts .cover-facts .fact-block {
    margin-right: 0;
  }

  .about-section .facts .cover-facts .fact-block h6 {
    font-size: 18px;
  }

  .about-section .facts .cover-facts .fact-block .fact-blok-value {
    font-size: 22px;
  }

  .resume-section .resume-info .my-skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .resume-section .knowledges {
    margin-bottom: 25px;
  }

  .resume-section .timeline-item {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 35px;
    text-align: left;
  }

  .resume-section .timeline-item .divider {
    position: absolute;
    left: -20px;
    top: 0;
    bottom: 0;
  }

  .resume-section .timeline-item .left-part {
    text-align: left;
  }

  .resume-section .timeline-item .left-part p {
    display: none;
  }

  .resume-section .certificates {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
  }

  .resume-section .certificates .col {
    width: 100%;
    padding: 0;
  }

  .contact-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .divs-icon {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
  }

  .divs-icon .div-icon {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .div-title {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 500px) {
  .layer__body img {
    max-width: 45%;
  }

  .layer__text h5 {
    display: none;
  }

  .todo__container {
    width: 100%;
  }

  .home-section .home-title h2 {
    font-size: 32px;
    line-height: 32px;
  }

  .home-section .home-title .dev {
    width: 100%;
    font-size: 16px;
  }

  .info-list,
  .info-text,
  .testimonial-text {
    font-size: 14px;
  }

  .cf {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cf .left-col {
    padding: 0;
  }
}

@media only screen and (max-width: 400px) {
  .about-section .facts h6 {
    font-size: 16px;
  }

  .about-section .facts .fact-blok-value {
    font-size: 28px;
  }

  .resume-section .certificate .certificate-icon {
    width: 75px;
  }

  .resume-section .certificate .certificate-icon i {
    font-size: 28px;
  }

  .resume-section .certificate .certificate-title h4 {
    font-size: 14px;
  }

  .resume-section .certificate .certificate-title .firma {
    font-size: 12px;
  }
}

@media only screen and (max-width: 335px) {
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  h5 {
    font-size: 13px;
  }

  .about-section .facts .cover-facts .fact-block h6 {
    font-size: 16px;
  }

  .about-section .facts .cover-facts .fact-block .fact-blok-value {
    font-size: 22px;
  }

  .resume-section .certificate .certificate-icon {
    width: 75px;
  }

  .resume-section .certificate .certificate-icon i {
    font-size: 28px;
  }

  .resume-section .certificate .certificate-title h4 {
    font-size: 14px;
  }

  .resume-section .certificate .certificate-title .firma {
    font-size: 12px;
  }
}